

.header .col {
    background-color: rgba(54, 208, 27, 0.5);
    border: solid black 1px;
    height: 100px;
}


.content1 .col {
    background-color: rgba(40, 107, 174, 0.548);
    border: solid black 1px;
    display : flex;
}

.comment .col {
    background-color: rgba(172, 40, 174, 0.5);
    border: solid black 1px;
    height: auto;
}

.footer .col {
    background-color: rgba(174, 40, 40, 0.5);
    border: solid black 1px;
    height: 100px
}

.add-to-cart{
    background-color :rgba(54, 208, 27, 0.5)
}

.container .content1 {
    margin-top: 30px
}

.card {
    margin-bottom: 35px
}

.sort {
    height: 50px;
    border: solid black 1px;
    margin-bottom: -5px;
    margin-top: -20px
}